body {
    background-color: #8E8D8A;
    font-family: Arial, sans-serif;
    color: #000;
    margin: 0px;
    padding: 0;
}
#about h2 {
    color: #EAE7DC;
    margin-bottom: 20px;
    
}
#about p {
    color: #8E8D8A;
    line-height: 1.6;
    font-weight: bold;
}
/* 

#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F
*/

#about {
    background-color: #EAE7DC;
    padding: 20px;
}
#about .About-Container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /* Initial position off-screen */
    transform: translateY(-100%);
    /* Ensure it's centered horizontally as well */
    text-align: center;
    /* Apply the animation */
    animation: slideDown 1s forwards ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}
/* Container needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* The button used to open the dropdown */
  .dropbtn {
    background-color: #D8C3A5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  

nav {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D8C3A5;
  
}

li {
  float: left;
 
}

li a {
  
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

li a.split {
  float: right;
}
li a:hover {
  background-color: #8f8270;
}

.main-info h1 {
  text-align: center;
  font-size: 50px;
}
.main-info p {
  text-align: center;
}