html {
  scroll-behavior: smooth;
}


body {
    background-color: #8E8D8A;
    font-family: Arial, sans-serif;
    color: #000;
    margin: 0px;
    padding: 0;
}



/* 

#EAE7DC
#D8C3A5
#8E8D8A
#E98074
#E85A4F
*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero-intro {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}
.hero-subheading {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}
.project-button {
  background-color: #E98074;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin: 20px auto;
  cursor: pointer;
  top: 60%;
  left: 50%;
}
.project-button:hover {
  font-size: 20px;
  transition-duration: 0.4s;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.left {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 0%;
  color: black;

}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}



.about-container {
  display: flex; /* Enable Flexbox */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Space out text and image */
  align-items: center; /* Align items vertically */
  gap: 2rem; /* Add space between the two sides */
  padding: 4rem 2rem; /* Add padding around the section */
}

.about-left {
  flex: 1; /* Allow the left side to take up equal space */
  padding: 1rem;
}

.about-right {
  flex: 1; /* Allow the right side to take up equal space */
  padding: 1rem;
}

.about-right ul {
  list-style: none; /* Remove default bullet points */
  padding: 0;
}

.about-right li {
  margin-bottom: 0.5rem; /* Add space between skills */
  font-weight: bold; /* Make skills stand out */
}
/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .about {
    flex-direction: column; /* Stack the content vertically */
  }

  .about-left,
  .about-right {
    flex: none; /* Reset flex behavior */
    width: 100%; /* Make both sides full-width */
  }
}
nav {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D8C3A5;
  
}

li {
  float: left;
 
}

li a {
  
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

li a.split {
  float: right;
}
li a:hover {
  background-color: #8f8270;
}

.main-info h1 {
  text-align: center;
  font-size: 50px;
}
.main-info p {
  text-align: center;
}